.audio-tactile {
    .section__subsections {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .section:not(:last-child) {
        margin-block-end: 3rem;
    }

    .section__toggle {
        margin-block-end: 0;

        &:focus .section__title,
        &:hover .section__title {
            border-inline-start: none;
            font-weight: var(--fl-enhance-font-weight, 600);
            padding: 0.7125rem 1rem 0.7125rem 1.25rem;
        }

        &--expanded .section__title {
            background: $sectionBorderColour;
            color: $sectionBGColour;
        }
    }

    .section__icon svg {
        height: 1.875rem;
        width: 1.125rem;
    }

    .section__content {
        background: $sectionBGColour;
        border: 0.3125rem solid $sectionBorderColour;
        border-block-start: none;
        padding: 0 1rem;
    }

    .section__description {
        border-block-end: 0.0625rem solid $mainColour;
        font-size: 1.5rem;
        line-height: 2.125rem;
        padding: 2.75rem;
    }

    .cui .section__description {
        margin-block-end: 3rem;
    }
}
