@use "../abstracts/mixins";

.audio-tactile {
  .card__details {
    border: solid var(--darkRed) 0.125rem;
    border-block-start: none;
    box-sizing: border-box;
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 0.1875rem; /* This padding reserves space for the thicker border on hover & focus */
    padding-block-start: 0;
  }

  .card__toggle {
    background: var(--sectionBGColour);
    border: none;
    color: var(--mainColour);
    cursor: pointer;
    display: block;
    font-family: var(--family-sans-serif); /* override for User Agent button-specific typefaces */
    inline-size: 100%;
    padding: 0;
    text-align: start;

    &:focus,
    &:hover {
      .card__details {
        border-width: 0.3125rem;
        padding: 0;
      }
    }
  }

  .card__title {
    background-color: var(--darkRed);
    box-sizing: border-box;
    color: var(--sectionBGColour);
    font-size: var(--fl-enhance-font-size, 1.5rem);
    font-weight: var(--fl-enhance-font-weight, 700);
    inline-size: 100%;
    line-height: calc(var(--fl-lineSpace-factor, 1) * 1.875);
    margin: 0;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
  }

  .card__description {
    align-content: center;
    display: grid;
    min-block-size: 10rem;
    padding: 1rem;
  }

  .card__content {
    display: none;
    padding: 1.5rem;

    ul {
      padding-inline-start: 1rem;
    }
  }

  .card__content--show .card__content {
    display: block;
  }

  .card__icon {
    align-items: center;
    display: block;
    min-inline-size: 3.75rem;
    text-align: center;

    &:empty {
      block-size: 1.0831rem;
    }

    &:empty + .card__content {
      display: none;
    }

    svg {
      --icon-arrowColour: var(--darkRed);

      block-size: 0.875rem;
      color: var(--fl-bgColor, var(--mainColour));
      fill: none;
      inline-size: 1.4375rem;
      transform: rotate(90deg);
    }
  }

  .card__toggle--expanded .card__icon svg {
    transform: rotate(-90deg);
  }

  @include mixins.breakpoint-up(sm) {
    .card__details {
      word-break: unset;
    }
  }
}
