.audio-tactile {
    .subsection {
        margin-block-end: 0;

        &:not(:last-of-type) {
            border-block-end: 0.0625rem solid $mainColour;
        }
    }

    .subsection__heading {
        line-height: calc(var(--fl-lineSpace-factor, 1) * 0.8);
        margin: 0;
    }

    .subsection__toggle {
        align-items: stretch;
        background-color: var(--fl-buttonBgColor, $sectionBGColour);
        border: none;
        color: var(--fl-buttonFgColor, $mainColour);
        cursor: pointer;
        display: flex;
        font-size: var(--fl-enhance-font-size, 1.8125rem);
        font-weight: var(--fl-enhance-font-weight, 400);
        justify-content: space-between;
        line-height: calc(var(--fl-lineSpace-factor, 1) * 1.875);
        padding: 0.25rem 0;
        width: 100%;

        &:focus,
        &:hover {
            outline-color: var(--fl-buttonFgColor);
        }

        &--expanded .subsection__title,
        &:focus .subsection__title,
        &:hover .subsection__title {
            font-weight: var(--fl-enhance-font-weight, 700);
        }
    }

    .subsection__title {
        font-size: var(--fl-enhance-font-size, 1.5rem);
        padding: 1rem 1rem 1rem 0;
        text-align: start;
        width: 100%;
    }

    .subsection__icon {
        align-items: center;
        background-color: var(--fl-buttonBgColor, #fff);
        display: flex;
        font-size: var(--fl-enhance-font-size, 1.125rem);
        font-weight: var(--fl-enhance-font-weight, 800);
        justify-content: center;
        min-width: 3.75rem;

        svg {
            --icon-arrowColour: var(--fl-buttonFgColor, #{$sectionBorderColour});

            color: var(--fl-bgColor, $mainColour);
            fill: none;
            height: 1.875rem;
            width: 1.125rem;
        }
    }

    .subsection__toggle--expanded .subsection__icon svg {
        transform: rotate(90deg);
    }

    .subsection__content {
        display: none;
    }

    .subsection__content--show .subsection__content {
        display: block;
        padding-inline: 3.75rem;
    }

    /* The "Context, Use, and Inclusion" section is only cards, for the time being */
    .subsection__cards,
    .cui .section__subsections {
        display: grid;
        gap: 3rem;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
        list-style: none;
        margin: 0;
        margin-block-end: 2.5rem;
        padding: 0;
    }

    @include breakpoint-up(sm) {
        .subsection__cards {
            grid-template-columns: 1fr 1fr;
        }
    }

    @include breakpoint-up(md-lg) {
        .subsection__cards {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}
