@use '../abstracts/mixins';

.banner {
    align-content: center;
    background-image: linear-gradient(to right, #158dcd 50%, #12699a 50%);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: var(--banner-height);
    justify-content: center;
    overflow: hidden;
    position: relative;

    svg {
        height: var(--banner-height-full);
        left: -96rem;
        position: absolute;
    }
}

@include mixins.breakpoint-up(md) {
    .banner {
        height: var(--banner-height-large);

        svg {
            height: var(--banner-height-full-large);
            left: unset;
        }
    }
}
