.brand {
    flex: 1;
}

/*
 * these `brand__*` selectors include the `a` element selector for
 * greater specificity over site-wide hover rules
 */
a.brand__desktop {
    display: none;
    margin-block-end: 1.875rem;
    margin-block-start: 2.5rem;
    padding: 0.75rem;

    &:focus,
    &:hover {
        @include brand-focus-hover;
    }

    svg {
        height: 5.4rem;
    }
}

a.brand__mobile {
    display: inline-block;
    margin-block: 1.5rem;

    &:focus,
    &:hover {
        @include brand-focus-hover;

        padding: unset;
    }

    svg {
        height: 5rem;
        width: 5rem;
    }
}

@include breakpoint-up(md) {
    a.brand__desktop {
        display: inline-block;
    }

    a.brand__mobile {
        display: none;
    }
}
