.breadcrumb__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb__item {
    display: inline-block;
}

.breadcrumb__item + li::before {
    content: ">";
    padding: 0 0.6rem;
}

.breadcrumb__link {
    color: $mainColour !important;

    &:focus,
    &:hover {
        background: unset;
        margin: unset;
        outline: none;
        padding: unset;
        position: relative;
        z-index: 0;

        &::after {
            background: $linkBackgroundHoverColour;
            border-radius: 0.3125rem;
            bottom: -0.3rem;
            content: "";
            left: -0.3rem;
            outline: 0.125rem solid var(--fl-linkColor, $mainColour);
            position: absolute;
            right: -0.3rem;
            top: -0.3rem;
            z-index: -1;
        }
    }
}
