.logos {
    display: flex;
}

.logos svg {
    display: block;
    fill: $footerColour;
    height: 5rem;
}

.logos .ildh-logo-hewlett {
    max-width: 19rem;
    width: 100%;
}

.logos .ildh-logo-idrc-wordmark {
    max-width: 14rem;
    width: 100%;
}

.logos .ildh-logo-ocadu {
    max-width: 5rem;
    width: 100%;
}
