.logos {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

.logos svg {
    display: block;
    fill: $footerColour;
    height: 3rem;
    max-width: 100%;
}

/* SVG-specific sizing */
svg.ildh-logo-hewlett {
    width: 15rem;
}

svg.ildh-logo-floe {
    width: 6rem;
}

svg.ildh-logo-idrc-wordmark {
    width: 8rem;
}

svg.ildh-logo-ocadu {
    width: 4rem;
}

@include breakpoint-up(lg) {
    .logos {
        align-self: end;
        grid-column: 1;
        grid-row-start: 2;
    }
}
