.perspectives__list {
  list-style: none;
  padding: 0;
}

.perspective__item:not(:last-of-type) {
  margin-block-end: 2rem;
}

.perspective__link {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.perspective__thumbnail {
  object-fit: contain;
}
