.section__heading {
    line-height: calc(var(--fl-lineSpace-factor, 1) * 0.8);
    margin: 0;
}

.section__title {
    border: 0.0625rem dashed var(--fl-buttonBgColor, var(--darkRed));
    border-inline-start: none;
    inline-size: 100%;
    line-height: 1.875rem;
    padding-block: 1rem;
    padding-inline: 1.25rem 1rem;
    text-align: start;
}

.section__toggle {
    align-items: stretch;
    background-color: var(--fl-buttonBgColor, var(--sectionBGColour));
    border: none;
    color: var(--fl-buttonFgColor, var(--mainColour));
    cursor: pointer;
    display: flex;
    font-family: var(--family-sans-serif);
    font-size: var(--fl-enhance-font-size, 1.8125rem);
    font-weight: var(--fl-enhance-font-weight, 400);
    inline-size: 100%;
    justify-content: space-between;
    line-height: calc(var(--fl-lineSpace-factor, 1) * 1.45);
    margin-block-end: 1.25rem;
    padding: 0;

    &:focus,
    &:hover {
        font-weight: var(--fl-enhance-font-weight, 600);
        outline-color: var(--fl-buttonFgColor);
    }

    &--expanded .section__title,
    &:focus .section__title,
    &:hover .section__title {
        border: 0.35rem solid var(--fl-buttonFgColor, var(--darkRed));
        border-inline-start: none;
        font-weight: var(--fl-enhance-font-weight, 600);
        padding-block: 0.7125rem;
        padding-inline: 1.25rem 1rem;
    }
}

.section__icon {
    align-items: center;
    background-color: var(--fl-buttonFgColor, var(--darkRed));
    display: flex;
    font-size: var(--fl-enhance-font-size, 1.125rem);
    font-weight: var(--fl-enhance-font-weight, 800);
    justify-content: center;
    min-inline-size: 3.75rem;

    svg {
        // TODO: Move this colour-setting to page-specific files
        //       so the rules can be re-used by topic pages'
        //       table of contents accordions
        --icon-arrowColour: var(--fl-buttonBgColor, #fff);

        block-size: 2rem;
        color: var(--fl-bgColor, var(--mainColour));
        fill: none;
        inline-size: 1.75rem;
    }
}

.section__toggle--expanded .section__icon svg {
    transform: rotate(90deg);
}

.section__content {
    display: none;
}

.section__content--show .section__content {
    display: block;
}

.section__subsections {
    list-style: none;
    margin: 0;
    margin-block-end: 2.5rem;
    padding: 0;
}

.subsection {
    margin-block-end: 1rem;
}

.subsection__link {
    font-size: var(--fl-enhance-font-size, 1.5rem);
    font-weight: var(--fl-enhance-font-weight, 500);
    line-height: 3rem;
    padding-block-end: 0.15rem;
}

.subsection > p:first-child a {
    font-size: var(--fl-enhance-font-size, 1.25rem);
    font-weight: var(--fl-enhance-font-weight, 700);
    line-height: calc(var(--fl-lineSpace-factor, 1) * 1.3);
    margin-block: 1.5rem 1rem;
    text-underline-position: from-font;
}
