// Rules specific to the Audio-Tactile design recommendations page

.audio-tactile {
    main {
        background: $darkGrey;
        grid-template-columns: unset;
        max-width: unset;
        padding: 2rem;
    }

    .footer {
        margin-block-start: 0;
    }

    .audio-tactile__title {
        font-size: 3rem;
        font-weight: 700;
        hyphens: auto;
        line-height: 3.5rem;
        word-break: break-word;
    }

    .audio-tactile__intro {
        font-size: 1.25rem;
    }

    .audio-tactile__credits {
        font-size: 1.25rem;
        grid-row: 8; /* show the credits after all other page content */
        margin-inline: auto;
        max-width: $narrow-content-width;
    }

    .audio-tactile__sections {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* section-specific colour overrides */
    @include card-section-colour-override(".materials-and-production", $sectionBorderColourAltOne);
    @include card-section-colour-override(".context-use-and-inclusion", $sectionBorderColourAltTwo);
}
