@use "../abstracts/mixins";

// Homepage-specific rules
.home .banner {
    block-size: var(--banner-height-full);

    svg {
        block-size: var(--banner-height-full);
        position: absolute;
    }
}

.home .main {
    display: block;
    margin-inline: unset;
    max-inline-size: unset;
}

.home .flc-toc-tocContainer {
    padding: 1rem;
}

.home .footer {
    margin-block-start: 0;
}

.home__intro {
    background: var(--homeIntroBGColour);
    color: var(--homeIntroColour);
    font-size: 2.375rem;
    line-height: 3.4375rem;
    padding-block: 1rem;
    padding-inline: 1rem;
    text-align: center;

    > * {
        margin-inline: auto;
        max-inline-size: var(--max-content-width);
    }
}

.ildh-sunrise {
    display: block;
    inline-size: 12rem;
    margin-inline: auto;
    max-block-size: 5rem;
}

.home__details,
.home__get-involved {
    font-size: 1.5rem;
    line-height: 2.3125rem;
    padding-inline: 1rem;

    & > * {
        margin-inline: auto;
        max-inline-size: var(--narrow-content-width);
    }
}

.home__details {
    background-color: var(--homeDetailsBGColour);
    padding-block: 2rem;
}

.home__get-involved {
    background-color: var(--darkGrey);
    padding-block-end: 5rem;
    padding-block-start: 2rem;

    h2 {
        color: var(--darkRed);
        margin-block: 1rem;
        text-align: center;
    }
}

@include mixins.breakpoint-up(md) {
    .home .banner {
        block-size: var(--banner-height-full-large);

        svg {
            block-size: var(--banner-height-full-large);
        }
    }
}

@include mixins.breakpoint-up(lg) {
    .home__intro {
        padding-block-start: 4rem;
    }

    .home__details {
        padding-block-start: 6rem;
    }
}
