pre code {
    display: inline-block;
    padding: 0.8em;
    background: #fff;
}

.tag .tag,
.selector {
    font-weight: bold;

    .punctuation {
        font-weight: normal;
    }
}

.attr-value {
    color: #393;

    .attr-equals {
        color: #000;
    }
}

.comment {
    color: #888;
}

.prolog,
.doctype {
    color: #88f;
}
