<li class="card">
    {%- set cardID = card.key | slugify -%}
    <button class="card__toggle" aria-labelledby="{{ cardID }}" aria-expanded="false" type="button">
        <h4 class="card__title" id="{{ cardID }}">
            {{- card.title | safe -}}
        </h4>
        <div class="card__description">{{ card.description | safe }}</div>
        <span class="card__icon fl-inverted-color" aria-hidden="true">
            {% svg_sprite "arrow" %}
        </span>
        <div class="card__content">
            {%- content_from_nav_key collections.cards, card.key | safe -%}
        </div>
    </button>
</li>
