<div class="brand">
    {% if lang and lang !== config.defaultLanguage %}
    {% set homeUrl = "/" + config.languages[lang].slug %}
    {% else %}
    {% set lang = config.defaultLanguage %}
    {% set homeUrl = "/" %}
    {% endif %}

    <a class="brand__desktop" rel="home" href="{{ homeUrl }}"{% if page.url === homeUrl %} aria-current="page"{% endif %}>
        {%- svg_sprite "logo-ildh-wordmark" -%}
    </a>
    <a class="brand__mobile" id="logo-narrow" rel="home" href="{{ homeUrl }}"{% if page.url === homeUrl %} aria-current="page"{% endif %}>
        {%- svg_sprite "logo-ildh" -%}
    </a>
</div>
