<div class="logos">
    <div class="logos__group">
        {%- svg_sprite "logo-hewlett" -%}
        {%- svg_sprite "logo-floe" -%}
    </div>
    <div class="logos__group">
        {%- svg_sprite "logo-idrc-wordmark" -%}
        {%- svg_sprite "logo-ocadu" -%}
    </div>
</div>
