<div class="sections-control">
    <button class="sections-control__expand-all">{{ translations[lang].expandAll }}</button>
    <button class="sections-control__collapse-all">{{ translations[lang].collapseAll }}</button>
</div>
