<div class="sections-control">
    <button class="sections-control__expand-all">{{ _("expand all") }}</button>
    <button class="sections-control__collapse-all">{{ _("collapse all") }}</button>
</div>
