<li class="section-item">
    <h2>
        <button aria-expanded="false" class="section-toggle">
            <span class="section-expand-icon" aria-hidden="true">
                {% svg_sprite "arrow" %}
            </span>
            <span class="section-title">{{ sectionTitle | safe }}</span>
        </button>
    </h2>
    <div>
        <ul class="section-children">
        {% for child in sectionChildren %}
            <li><a href="{{ child.url }}">{{ child.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</li>
