<li class="section">
    <h2 class="section__heading">
        <button class="section__toggle" aria-expanded="false">
            <span class="section__icon fl-inverted-color" aria-hidden="true">
                {% svg_sprite "arrow" %}
            </span>
            <span class="section__title">{{ sectionTitle | safe }}</span>
        </button>
    </h2>
    <div class="section__content">
        {% if sectionIntro %}
        <div class="section__intro">
            {{- sectionIntro | markdown | safe -}}
        </div>
        {% endif %}
        <ul class="section__links">
        {% for subsection in subsections %}
            <li class="section__subsection">
                <a class="section__subsection-link" href="{{ subsection.url }}">{{ subsection.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</li>
