<footer class="footer">
    <div class="footer__container">
        {% include "partials/components/tagline.njk" %}
        {% include "partials/components/context.njk" %}
        {% include "partials/components/credits.njk" %}
        {% include "partials/components/logos.njk" %}
    </div>
</footer>
