<footer role="contentinfo">
    {% include "partials/components/tagline.njk" %}
    {% include "partials/components/context.njk" %}
    {% include "partials/components/credits.njk" %}
    {% include "partials/components/logos.njk" %}
</footer>
