<div class="org-header">
    <p class="org-header__wrapper">
        {# TODO: this should be localized properly rather than hardcoded text #}
        <span>An <a class="org-header__link" href="{{ site[locale].authorWebsite }}">Inclusive Design Research Centre</a> project<span>
    </p>
</div>
<header class="header">
    {% include "partials/components/brand.njk" %}
    {% include "partials/components/menu.njk" %}
</header>
{% include "partials/components/banner.njk" %}
