<meta name="description" content="{{ site[locale].description }}">
<meta property="og:title" content="{% if title %} {{ title }} | {% endif %} {{ site[locale].name }}">
<meta property="og:description" content="{{ site[locale].description }}">
<meta property="og:locale" content="{{ locale | replace("-", "_") }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ config.url }}{{ page.url }}">
<link rel="canonical" href="{{ config.url }}{{ page.url }}">
