        <script type="text/javascript" src="/assets{{ assets['/scripts/app.js'] }}" defer></script>
        <script type="text/javascript" src="/assets{{ assets['/scripts/matomo.js'] }}" defer></script>
        {% uioScripts %}
