/* General styling */
docs-fonts = "OpenSans-Light", Arial, Helvetica;
docs-header-font = "RobotoSlab";
button-focus = 0.2rem solid #275287; // blue
link-color = #275287; // blue
link-hover-color = #fff;
link-hover-background = #275287;
//site-width ?= 80rem; // the width of the entire site.
//site-border ?= 0.1rem solid #ccc; // the borders that appear when site-width exceeded.

/* Main Content Area */
docs-body-background = #f2f2f2; // light grey
docs-content-note-border = #000;

/* Header and Footer */
header-footer-color = #fff;
header-footer-background = #105156; // teal
header-footer-link = #FFEA14; // yellow
header-footer-hover-color = #105156; // teal
header-footer-hover-background = #fff;
header-footer-focus = 0.2rem solid #fff;
header-nav-link = #fff;
header-nav-background = #185D5E; // lighter teal
header-nav-hover-color = #185D5E; // lighter teal
header-nav-hover-background = #fff;
header-nav-border-top = none;
header-nav-border-bottom = 0.1rem solid #cfcfcf; // grey
header-active-category = 0.2rem solid #fff;

/* Skip Links */
skip-color = #fff;
skip-background = #105156; // teal
skip-focus-outer-border ?= #fff;
skip-focus-inner-border ?= #105156; // teal
skip-hover-color = #105156; // teal
skip-hover-background = #fff;

/* Logo */
logo-color = #fff;
logo-background = #105156; // teal
logo-hover-color = #105156; // teal
logo-hover-background = #fff;
logo-focus = 0.2rem solid #fff;
logo-font-path = "../fonts/floe-logo";
logo-unicode = "\e600";

/* Table of Contents Sidebar */
topics-background = #fff;
topics-item-color = #275287; // blue
topics-active-color = #275287; // blue
topics-active-background = #fff;
topics-item-hover-color = #fff;
topics-item-hover-background = #275287; // blue
topics-item-focus-border = 0.2rem solid #275287; // blue
//topics-border-color = #cfcfcf;

/* Table of Contents Hide-Show ribbon */
hideShow-background = #275287; // blue
hideShow-color = #fff;
hideShow-focus = 0.2rem solid #fff;
hideShow-hover-color = #275287; // blue
hideShow-hover-background = #fff;

/* Article Body area */
articleBody-color = #000;
articleBody-background = #f2f2f2;

figure-caption-border = #f2f2f2;
figure-background = #fff;

/* Code Blocks */
code-block-background = #fff;
code-block-border = 0.1rem dotted #aaa;
code-block-color = #000;
code-block-link-color = #275287; // blue

/* Tables */
table-border-color = #e7e7e7;

/* UIO Table of Contents */
uio-topics-background = #efefef;

@import "docs-template.css.styl";

@font-face {
    font-family: "DroidSans";
    src: url("../fonts/DroidSans.ttf") format('truetype');
}

.docs-inclusiveLearning {

    .docs-template-articleBody {
        h1, h2, h3, h4 {
            margin-top: 1rem;
        }

        h4 {
            font-weight: bold;
        }
    }

    .docs-template-logo {
        background: logo-background;
        color: logo-color;
    }

    .docs-template-logo:before {
        font-size: 2rem;
    }

    .docs-template-logo h1 {
       font-family: "DroidSans";
       letter-spacing: auto;
       line-height: 1;
       font-weight: bold;
       display: inline-block;
       color: inherit;
       margin: 0;
   }

   .docs-template-logo:hover {
       color: logo-background;
       background: logo-color;
   }

   .link-external:after {
       content: "\2192";
       text-decoration: none;
       display: inline-block;
       margin-left: 0.4rem;
       font-size: 0.98rem;
   }

   .inclusiveLearning-subheader {
       display: block;
       font-size: 1rem;
       font-style: italic;
   }

   .inclusiveLearning-related {
       margin-left: 3rem;
   }

   a:hover {
       border-radius: 0.2rem;
   }

   // remove border-radius so there is no gap in the corners when focus and hover applied
   a:hover:focus {
       border-radius: 0;
   }

   .docs-template-topics a:hover {
       background-color: topics-item-hover-background;
       color: topics-item-hover-color;
       outline: none;
   }
}

.fl-theme-bw,
.fl-theme-wb,
.fl-theme-by,
.fl-theme-yb,
.fl-theme-lgdg {
    a:hover {
        outline: none !important;
    }

    a:focus {
        border-radius: none !important;
    }
}
