/* General styling */
docs-fonts = "OpenSans-Light", Arial, Helvetica;
docs-header-font = "RobotoSlab";
button-focus = 0.2rem solid #275287;
link-color = #275287;
link-hover-color = #fff;
link-hover-background = #275287;

/* Main Content Area */
docs-body-background = #f2f2f2;
docs-content-note-border = #000;

/* Header and Footer */
header-footer-color = #fff;
header-footer-background = #105156;
header-footer-link = #FFFF78;
header-footer-hover-color = #105156;
header-footer-hover-background = #fff;
header-footer-focus = 0.2rem solid #fff;
header-nav-link = #fff;
header-nav-background = #185D5E;
header-nav-border-top = none;
header-nav-border-bottom = 0.1rem solid #cfcfcf;
header-active-category = 0.2rem solid #fff;

/* Skip Links */
skip-color = #fff;
skip-background = #105156;
skip-focus-outer-border ?= #fff;
skip-focus-inner-border ?= #105156;
skip-hover-color = #105156;
skip-hover-background = #fff;

/* Logo */
logo-color = #fff;
logo-background = #105156;
logo-hover-color = #105156;
logo-hover-background = #fff;
logo-focus = 0.2rem solid #fff;
logo-font-path = "../fonts/floe-logo";
logo-unicode = "\e600";

/* Table of Contents Sidebar */
toc-background = #fff;
toc-item-color = #275287;
toc-active-color = #fff;
toc-active-background = #275287;
toc-item-hover-color = #fff;
toc-item-hover-background = toc-background;
toc-item-hover-border = 0.2rem solid #275287;
//toc-border-color = #cfcfcf;

/* Table of Contents Hide-Show ribbon */
hideShow-background = #275287;
hideShow-color = #fff;
hideShow-focus = 0.2rem solid #fff;
hideShow-hover-color = #275287;
hideShow-hover-background = #fff;

/* Article Body area */
articleBody-color = #000;
articleBody-background = #f2f2f2;

figure-caption-border = #f2f2f2;
figure-background = #fff;

/* Code Blocks */
code-block-background = #fff;
code-block-border = 0.1rem dotted #aaa;
code-block-color = #000;
code-block-link-color = #275287;

/* Tables */
table-border-color = #e7e7e7;

/* UIO Table of Contents */
uio-toc-background = #efefef;

@import "docs-template.css.styl";

@font-face {
    font-family: "DroidSans";
    src: url("../fonts/DroidSans.ttf") format('truetype');
}

.docs-ildh {
    .docs-template-articleBody {
        h1, h2, h3 {
            margin-top: 1rem;
        }
    }

    .docs-template-logo {
       font-family: "DroidSans";
       letter-spacing: auto;
       margin: 0.2rem 0 1rem 0;
   }

   .docs-template-header .docs-template-logo .docs-template-logoText {
       line-height: 1;
       font-weight: bold;
       display: inline-block;
       padding: 0;
   }

   .ildh-tagline {
       font-size: 0.8rem;
       display: block;
       font-weight: normal;
       color: logo-color;
       margin: 0;
   }

   .link-external:after {
       content: "\2192";
       text-decoration: none;
   }

   .ildh-subheader {
       display: block;
       font-size: 1rem;
       font-style: italic;
   }

   .ildh-related {
       margin-left: 3rem;
   }

   a:hover,
   a:hover span {
       border-radius: 0.2rem;
   }

   //don't round the corners if the item is active.
   a:hover span.docs-template-TOC-active {
       border-radius: 0;
   }

   .docs-template-category-active a:hover,
   .docs-template-category-active a:focus {
       border: none;
       background: header-nav-background;
       color: header-nav-link;
   }
}

.fl-theme-bw .ildh-tagline {
    background-color: #000 !important;
    color: #fff !important;
}

.fl-theme-wb .ildh-tagline {
    background-color: #fff !important;
    color: #000 !important;
}

.fl-theme-by .ildh-tagline {
    background-color: #000 !important;
    color: #ff0 !important;
}

.fl-theme-yb .ildh-tagline {
    background-color: #ff0 !important;
    color: #000 !important;
}

.fl-theme-lgdg .ildh-tagline {
    background-color: #bdbdbb !important;
    color: #555555 !important;
}
