<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/head.njk' %}
    </head>

    <body class="docs-template docs-inclusiveLearning docs-template-404">
        <!-- Skip Link -->
        <div id="skip">
            <a href="#content" class="docs-template-skip-content">Skip to Content</a>
        </div>
        <!-- END skip link -->

        {% include 'partials/header.njk' %}

        <article id="content" class="row docs-template-articleBody" tabindex="-1">
            <h1>{{ title }}</h1>

            <div class="flc-toc-tocContainer docs-template-uio-toc"> </div>

            <div class="docs-template-articleContent">
                {{ content | safe }}
            </div>
        </article>

        <footer class="row docs-template-footer fl-inverted-color">
            <p>The Floe Inclusive Learning Design Handbook, part of the <a class="link-external" rel="nofollow" href="http://www.floeproject.org/">Floe Project</a>, is produced by the <a href="http://idrc.ocadu.ca/" rel="nofollow" class="link-external">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca" rel="nofollow" class="link-external">OCAD University</a>.</p>
            <p>Floe is funded by a grant from <a href="http://www.hewlett.org/" rel="nofollow" class="link-external">The William and Flora Hewlett Foundation</a>.</p>
            <p>Licensed under <a href="http://creativecommons.org/licenses/by/2.5/ca/" rel="nofollow" class="link-external">Creative Commons Attribution 2.5 Canada</a>.</p>
        </footer>

        <script type="text/javascript">
            docsCore.init("/./");
            jQuery( "#menu" ).menu({
                position: {my: "right top", at: "right bottom"},
                icons: {submenu:"ui-icon-blank"}
            });
        </script>
    </body>
</html>
