{% extends "layouts/base.njk" %}

{% block pageBody %}
<body class="audio-tactile">
    {% uioTemplate %}
    {% include "partials/global/header.njk" %}
    <main class="main">
        <div class="audio-tactile__container">
            <h1 class="audio-tactile__title">{{ title }}</h1>

            {% include "partials/components/breadcrumb.njk" %}

            <nav class="flc-toc-tocContainer"></nav>

            {% block content %}
                {{ content | safe }}
                <div class="audio-tactile__diagram">
                    {%- svg_sprite "audio-tactile-card-diagram", _("Example of a card with three elements being pointed out by arrows: the recommendation code on the top-left, the recommendation in the centre of the card, and an interactive button bottom-centre that indicates there is additional information on the card."), false -%}
                </div>
                {%- include "partials/components/audio-tactile-legend.njk" -%}
            {% endblock %}

            {%- include "partials/components/sections-control.njk" -%}

            <ul class="audio-tactile__sections">
            {%- for section in collections.cards | eleventyNavigation("Audio Tactile Design Recommendations") -%}
                {%- include "partials/components/audio-tactile-section.njk" -%}
            {%- endfor -%}
            </ul>
        </div>
    </main>
    {% include "partials/global/footer.njk" %}
    {# 
        Calling a custom duplicate of eleventy-plugin-fluid's uioInit shortcode in
        order to run it without the text-size preference until issue #57 is solved.

        This call is duplicated in base.njk and home.njk

        https://github.com/fluid-project/handbook.floeproject.org/issues/57
    #}
    {% uioCustomInit supportedLanguages[locale].uioSlug, supportedLanguages[locale].dir %}
</body>
{% endblock %}
