{% extends "layouts/base.njk" %}

{% block pageBody %}
<body class="audio-tactile">
    {% uioTemplate %}
    {% include "partials/global/header.njk" %}
    <main class="main">
        <h1 class="audio-tactile__title">{{ title }}</h1>

        {% include "partials/components/breadcrumb.njk" %}

        <nav class="flc-toc-tocContainer"></nav>
        
        {% block content %}
            {{ content | safe }}
        {% endblock %}

        {%- for section in collections.cards | eleventyNavigation("Audio Tactile Design Recommendations") -%}
            <div class="audio-tactile__section {{ section.key | slugify }}">
                <details class="audio-tactile-section">
                    <summary class="audio-tactile-section__summary">
                        <div class="audio-tactile-section__title">{{ section.title | safe }}</div>
                    </summary>
                    <div class="audio-tactile-section__description">{{ section.description | safe }}</div>

                    {%- for subsection in section.children -%}
                        {%- include "partials/components/audio-tactile-subsection.njk" -%}
                    {%- endfor -%}
                </details>
            </div>
        {%- endfor -%}
    </main>
    {% include "partials/global/footer.njk" %}
    {# 
        Calling a custom duplicate of eleventy-plugin-fluid's uioInit shortcode in
        order to run it without the text-size preference until issue #57 is solved.
        
        This call is duplicated in base.njk and home.njk

        https://github.com/fluid-project/handbook.floeproject.org/issues/57
    #}
    {% uioCustomInit config.languages[lang].uioSlug, config.languages[lang].dir %}
</body>
{% endblock %}
