<!doctype html>
<html lang="{% if lang %}{{ lang }}{% else %}en-CA{% endif %}" dir="{% if lang %}{{ config.languages[lang].dir }}{% else %}ltr{% endif %}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <title>{% if title %} {{ title }} | {% endif %} {{ site[lang].name }}</title>

        {% include "partials/global/stylesheets.njk" %}

        {% include "partials/global/meta.njk" %}

        {% include "partials/global/icons.njk" %}
        <link rel="manifest" href="/manifest.webmanifest">

        {% include "partials/global/scripts.njk" %}
    </head>
    {# The pageBody block is used by the home page which has a different body layout #}
    {% block pageBody %}
    <body class="{{ bodyClass if bodyClass else "page" }}">
        {% uioTemplate %}
        {% include "partials/global/header.njk" %}
        <main class="main">
            <article class="main-content">
                {% block pageHeader %}
                <header>
                    <h1>{{ title }}</h1>
                </header>
                {% endblock %}
                <nav class="flc-toc-tocContainer"></nav>
                {% block content %}
                <div class="content">
                {{ content | safe }}
                </div>
                {% endblock %}
            </article>
            <aside class="side-content">
                {% block sideContent %}
                {% endblock %}
            </aside>
        </main>
        {% include "partials/global/footer.njk" %}
        {#
            Calling a custom duplicate of eleventy-plugin-fluid's uioInit shortcode in
            order to run it without the text-size preference until issue #57 is solved

            This call is duplicated in home.njk

            https://github.com/fluid-project/handbook.floeproject.org/issues/57
        #}
        {% uioCustomInit config.languages[lang].uioSlug, config.languages[lang].dir %}
    </body>
    {% endblock %}
</html>
