<!doctype html>
<html lang="{{ lang }}" dir="{{ config.languages[lang].dir }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <title>{% if title %} {{ title }} | {% endif %} {{ site[lang].name }}</title>

        {% include "partials/global/stylesheets.njk" %}

        {% include "partials/global/meta.njk" %}
        <link rel="alternate" type="application/atom+xml" href="{{ config.url }}{% if lang !== config.defaultLanguage %}/{{ lang }}{% endif %}/feed.xml" title="{{ translations[lang]["%s RSS feed"] | replace("%s", site[lang].name) }}">

        {% include "partials/global/icons.njk" %}
        <link rel="manifest" href="/manifest.webmanifest">

        {% uioScripts %}
        {% include "partials/global/scripts.njk" %}
    </head>
    <body class="{{ bodyClass if bodyClass else "page" }}">
        {% uioTemplate %}
        {% include "partials/global/header.njk" %}
        <main>
            <article>
                {% block pageHeader %}
                <header>
                    <h1>{{ title }}</h1>
                </header>
                {% endblock %}
                <nav class="flc-toc-tocContainer"></nav>
                {% block content %}
                <div class="content">
                {{ content | safe }}
                </div>
                {% endblock %}
            </article>
            <aside>
                {% block sideContent %}
                {% endblock %}
            </aside>
        </main>
        {% include "partials/global/footer.njk" %}
        {% uioInit config.languages[lang].uioSlug, config.languages[lang].dir %}
    </body>
</html>
