{% extends "layouts/base.njk" %}

{% block pageBody %}
<body class="home">
    {% uioTemplate %}
    {% include "partials/global/header.njk" %}
    <main class="main">
        <nav class="flc-toc-tocContainer"></nav>
        {% block content %}
        {{ content | safe }}
        {% endblock %}
    </main>
    {% include "partials/global/footer.njk" %}
    {# 
        Calling a custom duplicate of eleventy-plugin-fluid's uioInit shortcode in
        order to run it without the text-size preference until issue #57 is solved.

        This call is duplicated in base.njk

        https://github.com/fluid-project/handbook.floeproject.org/issues/57
    #}
    {% uioCustomInit config.languages[lang].uioSlug, config.languages[lang].dir %}
</body>
{% endblock %}
