{% extends "layouts/base.njk" %}

{% block pageHeader %}
    <header>
        <h1>{{ title }}</h1>
    </header>
{% endblock %}

{% block content %}
    {{ content | safe }}
{% endblock %}

{% block sideContent %}
    <div class="side-content__toolkits">
        {% if not locale %}
            {% set locale = config.defaultLanguage %}
        {% endif %}

        {% set icon = "toolkits" %}
        {% set sideContentTitle = sideContentHeadings[locale].toolkitsTitle %}
        {% set toolkitsAndGuidesPath = "src/collections/pages/" + locale + "/toolkits-and-guides.md" %}

        {# TODO: find a tidier way of rendering the markdown content. `renderFile` doesn't seem to work #}
        {% set sideContentPreFilter %}
            {% include toolkitsAndGuidesPath %}
        {% endset %}
        {% set sideContent %}
            {{ sideContentPreFilter | markdown | safe }}
        {% endset %}

        {% include "partials/components/side-content-item.njk" %}
    </div>
{% endblock %}
