{% extends "layouts/base.njk" %}

{% block pageHeader %}
<header>
    <h1>{{ title }}</h1>
</header>
{% endblock %}

{% block content %}
<div class="content">
    {{ content | safe }}
</div>
{% endblock %}
