{% extends "layouts/page.njk" %}

{% block pageHeader %}
    <div class="root-content">
        {% include "partials/components/breadcrumb.njk" %}

        <header>
            <h1>{{ title }}</h1>
        </header>
    </div>
{% endblock %}
