{% extends "layouts/page.njk" %}

{% block pageHeader %}
    <div class="topic-content">
        <header>
            <h1>{{ title }}</h1>
        </header>

        {% include "partials/components/breadcrumb.njk" %}
    </div>
{% endblock %}

{% block content %}
    {%- article_contents locale, content -%}
    {{ content | safe }}
{% endblock %}

{% block sideContent %}
    {% if not locale %}
        {% set locale = config.defaultLanguage %}
    {% endif %}
    {% set icon = sideContentHeadings[locale].icon %}
    {% set sideContentTitle = sideContentHeadings[locale].title %}
    {% set sideContent %}
        {%- extract_resource_links content, sideContentHeadings, locale -%}
    {% endset %}
    
    {%- if sideContent -%}
    <div class="side-content__topic-links">
        {% include "partials/components/side-content-item.njk" %}
    </div>
    {%- endif -%}

    {{ super() }}
{% endblock %}
