.footer {
    --ildh-wordmark-colour: var(--fl-bgColor, #{$footerBGColour});

    background-color: $footerBGColour;
    color: $footerColour;
    display: grid;
    grid-template-columns: 1fr;
    line-height: calc(var(--fl-lineSpace-factor, 1) * 1.6);
    margin-top: 5.75rem;
    padding: 3.25rem 24px;
    row-gap: 2.625rem;
}

.footer a {
    color: $footerLinkColour;

    &:focus,
    &:hover {
        background-color: var(--fl-linkColor, $footerColour);
        color: var(--fl-bgColor, $footerBGColour);
        outline: none;
    }
}

.footer p:first-child {
    margin-block-start: 0;
}

.footer p:last-child {
    margin-block: 0;
}

@include breakpoint-up(lg) {
    .footer {
        column-gap: 7.875rem;
        grid-template-columns: 1fr 1fr;
    }

    .logos {
        align-self: end;
        gap: 2rem;
        grid-column: 1;
        grid-row-start: 2;
    }
}
