.header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    position: relative;
    width: 100%;
}

.org-header {
    background-color: $headerOrgBackgroundColour;
    border-block-end: 1px solid $darkGrey;
    color: $headerOrgColour;
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(var(--fl-lineSpace-factor, 1) * 1.33);
}

.org-header__link {
    &:focus,
    &:hover {
        outline: 0.125rem solid var(--fl-linkColor, $headerOrgLinkColour);
    }

    color: $headerOrgLinkColour;
    text-decoration: underline;
}

.org-header__wrapper {
    justify-content: start;
    margin-inline-start: 1rem;
}

@include breakpoint-up(lg) {
    .header {
        align-items: flex-end;
        padding-inline-start: 2rem;
    }
}
