---
title: Inclusive Making and Hacking
layout: default
category: Methods
---

Hackathons, makeathons and similar events have become very popular in recent years, both in traditional learning contexts such as schools, colleges and universities, and in broader world.

Ideas of "hacking" and "making" have also been popularized as approaches to creatively and collaboratively solve problems in society, business and government.

Where does Inclusive Design fit into such approaches?

## Notes on Terminology

### Hackathon

We use the term "hackathon" expansively in this entry to refer to events that emphasize intensive short-term collaboration between small groups, usually (but not always) physically co-located. The groups typically ideate, design and prototype around themes such as <a href="http://arthackathon.co.uk/" target="_blank" class="link-external">art</a> or <a href="http://civictech.ca/2016/04/08/codeacross-toronto-community-collaboration-in-celebration-of-international-open-data-day/" target="_blank" class="link-external">open data</a>, then present their result in some form to to the larger gathering throughout the event or at the end.

While these events are often focused on producing or proposing new software or hardware as a means of addressing a social problem or creating a new product, this is not stricly necessary; hackathons have been held to produce
<a href="https://www.policyhack.com.au/" target="_blank" class="link-external">government policy</a>, or ideas to address <a href="http://foodinnovationprogram.org/hacking-hunger/" target="_blank" class="link-external">food security</a>.

### Hacking

We use the term "hacking" expansively here to refer to ideas of in-depth learning by doing, do-it-yourself and <a href="https://en.wikipedia.org/wiki/Hacker_culture" target="_blank" class="link-external">"playful cleverness"</a> that we can also find present in the term "making". We feel (though others might disagree) that the concepts have enough overlap to discuss them together.

## Inclusively Designing Hackathons and Hacking

It's been said about hackathons that the connections and ideas that get made between people attending are more important than any products that get produced. If hackathons are about building community, issues of inclusion, exclusion and audience diversity are paramount to their design.

In thinking about inclusive design for hackathons, we must ask ourselves some of the same questions we ask in other contexts:

### Asking Who Is Excluded

We must consider <a href="WhatIsTheApproach.md#whoIsExcluded">who might be excluded?</a>, and how to redesign our approach to running, promoting and recruiting for our events.

This is especially critical for hackathons trying to tackle social challenges faced by identifiable groups such as people with disabilities, under the principle of <a href="https://en.wikipedia.org/wiki/Nothing_About_Us_Without_Us" target="_blank" class="link-external">*Nothing About Us Without Us*</a>.

### Considering the Full Range of Human Diversity

Because we define Inclusive Design as design that considers the full range of human diversity with respect to ability, language, culture, gender, age and other forms of human difference, our vision for inclusive hackathons and hacking must encompass more than the (vital!) practice of accomodation for people with disabilities through the design of the physical space, the preparation of alternate formats for information, and services such as sign language interpretation.

Several of the resources at the bottom of this entry contain advice for designing hackathon spaces and structuring events to improve accessibility for people with disabilities. We would add two pieces of specific advice from Inclusive Design practice:

* Use a comprehensive approach like that embodied in the <a href="https://guide.inclusivedesign.ca/activities/InclusiveDesignMapping.html" target="_blank" class="link-external">Inclusive Design Mapping</a> to reconsider and stretch the design of the hackathon or hacking exercise towards greater inclusion.

* Plan, execute and review in the open; give people opportunity to provide feedback before and after the event or activity. A living document supported by technology such as a wiki can help to invite necessary commentary and revision.

#### A Note on STEM Diversity Issues

Because hacking and making are strongly associated with STEM (Science, Technology, Engineering and Math) disciplines, it's not possible to discuss this subject without reference to the widespread work that has gone on to investigate and address the issue of demographic diversity in STEM both academically and <a href="https://www.wired.com/brandlab/2015/05/5-numbers-explain-stem-diversity-matters-us/" target="_blank" class="link-external">in the wider world</a>.

The STEM acronym itself has come under some criticism for excluding art and design, leading to initiatives such as the <a href="http://stemtosteam.org/" target="_blank" class="link-external">STEM to STEAM Initiative</a>.

We encourage those considering hacking and making in learning contexts to be aware of larger issues of diversity in STEM subjects, workplaces and communities, as these issues have relevance and knock-on effects to the diversity and inclusion of hackathons and hacking.

## Scenarios

The scenarios below offer some examples of how inclusively designed hackathons and hacking activities might operate in practice.

### Classroom and Course Design

- A new rapid prototyping lab is being designed for the usage of engineering and computer science students. The design team works with the Disability Services office to recruit several disabled students to act as co-designers of the space.

- As part of a product design course, students are tasked to work in groups to design accessible multimodal interfaces to common household producs such as alarm clocks, fridges and stoves. This includes both hands-on work with various means of prototyping multimodal interfaces and more theoretical discussion of how products can be more inclusively designed.

### Hackathons

- A computer science department wants to hold an extracurricular student hackathon, but with a broader appeal outside the department. They approach the faculty of fine art to collaborate with them on "art and technology"-themed hackathon.

### Engaging the Community of People With Disabilities

- A co-op program within a design faculty has a specific stream established so that design students can be matched with community organizations focused on people with disabilities. Students work with the organizations and their clients to design and prototype new products targeted at the needs of people with disabilities.

### Ed-Tech Hackathons and Code Sprints

- An open-source OER platform holds a community hackathon involving accessiblity specialists, designers and developers to surface issues with the accessibility of the platform and prototype solutions to them. The results are used as part of the next year of project planning to prioritize addressing the platform's accessibility.

## Tools

The <a href="http://www.prosperity4all.eu/" target="_blank" class="link-external">Prosperity 4All</a> project that Floe
<a href="http://www.prosperity4all.eu/about-p4a/projectpartners/" target="_blank" class="link-external">participates in</a>has supported both the development and cataloguing of numerous tools relevant to inclusive learning through hacking and making. These include:

### The Nexus

The <a href="https://github.com/GPII/nexus" target="_blank" class="link-external">Nexus</a> is an integration technology based on the <a href="https://github.com/fluid-project/infusion" target="_blank" class="link-external">Infusion</a> Javascript framework that allows <a href="https://wiki.gpii.net/w/Nexus_API" target="_blank" class="link-external">distributed systems to be connected together through shared and transformed state over HTTP and WebSockets protocols, as described in detail here.</a>

### AsTeRICS

The <a href="https://github.com/asterics" target="_blank" class="link-external">Assistive Technology Rapid Integration &amp; Construction Set</a> is an open source construction set for assistive technologies.

### Inclusive Design Guide

The <a href="https://guide.inclusivedesign.ca/" target="_blank" class="link-external">Inclusive Design Guide</a> is an evolving collection of insights, practices, tools and activities that can be applied a wide range of design challenges in the digital, physical and service realm.

### The Developer Space

The three examples above are only a sample of what is available; more can be found by exploring the <a href="http://dspace.teco.edu/" target="_blank" class="link-external">Developer Space</a>, especially the lists of <a href="http://dspace.teco.edu/en/categories/parts-tools" target="_blank" class="link-external">Parts &amp; Tools</a>.

## Examples

### Prototyping an Alternate Interface for An Educational Simulation

Team members from Floe and <a href="https://phet.colorado.edu/" target="_blank" class="link-external">PhET Interactive Simulations</a> used the <a href="https://github.com/GPII/nexus" target="_blank" class="link-external">Nexus</a> to quickly build an alternative "dance pad" interface to the <a href="https://github.com/phetsims/john-travoltage " target="_blank" class="link-external">John Travoltage</a> sim.

{embed video here}

### An Inclusive Hackathon

As part of the 2016 <a href="http://deep.idrc.ocadu.ca/" target="_blank" class="link-external">DEEP Conference</a> an <a href="http://www.iidexcanada.com/program/events/2016-inclusive-hackathon" target="_blank" class="link-external">Incusive Hackathon</a> was held.

### 2015 OER Accessibility Sprint

Floe held an <a href="http://floeproject.org/accessibilitySprint2015.html" target="_blank" class="link-external">OER-focused accessibility sprint</a> in early 2015.

- Mozilla HIVE

## Resources

### General

- http://hackdaymanifesto.com/
- https://hackathon.guide/
- http://www.buildwith.org/
- https://medium.com/@elle_mccann/so-you-think-you-want-to-run-a-hackathon-think-again-f96cd7df246a#.sd67s8coa
- http://www2.bgsu.edu/departments/english/cconline/hacking/

### Accessibility/Inclusive General Advice
- https://www.ncwit.org/sites/default/files/workshop-better_hackathons.pdf
- https://core.ac.uk/download/pdf/13641745.pdf
- https://disabilityvisibilityproject.com/2015/08/05/integrating-the-disability-perspective-assistive-technology-design-hackathons-makeathons/
- http://www.washington.edu/doit/making-makerspace-guidelines-accessibility-and-universal-design
- https://www.edsurge.com/news/2015-05-10-making-for-all-how-to-build-an-inclusive-makerspace

### Accessibiliy/Inclusive Hackathon Examples

- http://hackathon.inclusivedesign.ca/
- http://www.iidexcanada.com/media/iidex-news/the-inclusive-design-hackathon
- http://www.accesshack.ca/
- http://accessibilityhack.com/
- http://18f.github.io/hackathons/a11yhack/schedule/
- https://www.paciellogroup.com/blog/2016/03/design-pattern-usability-study-and-csun-2016-uxathon/
- http://accessithon.com/
- http://wiki.jqueryui.com/w/page/38817541/ARIA%20Hackathon
