---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
Sitemap: {{ site[defaultLanguage].url }}/sitemap.xml

User-Agent: *
Disallow: /404.html
Disallow: /admin/

User-agent: GPTBot
Disallow: /
