// Mixins.

// Media query breakpoint calculations
@mixin breakpoint-up($name, $breakpoints: $breakpoints) {
    $min: breakpoint-value($name, $breakpoints);

    @if $min {
        @media (min-width: rem($min)) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin breakpoint-down($name, $breakpoints: $breakpoints) {
    $max: breakpoint-value($name, $breakpoints);

    @if $max {
        @media (max-width: rem($max)) {
            @content;
        }
    }

    @else {
        @content;
    }
}
