// Mixins.

// Media query breakpoint calculations
@mixin breakpoint-up($name, $breakpoints: $breakpoints) {
    $min: breakpoint-value($name, $breakpoints);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin breakpoint-down($name, $breakpoints: $breakpoints) {
    $max: breakpoint-value($name, $breakpoints);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin hover-focus-outline($colour) {
    &:focus,
    &:hover {
        outline: 0.125rem solid var(--fl-linkColor, $colour);
        outline-offset: 2px;
    }
}
