// Mixins.

// Media query breakpoint calculations
@mixin breakpoint-up($name, $breakpoints: $breakpoints) {
    $min: breakpoint-value($name, $breakpoints);

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    }

    @else {
        @content;
    }
}

@mixin breakpoint-down($name, $breakpoints: $breakpoints) {
    $max: breakpoint-value($name, $breakpoints);

    @if $max {
        @media (max-width: $max) {
            @content;
        }
    }

    @else {
        @content;
    }
}

// Brand component focus & hover style overrides
@mixin brand-focus-hover() {
    background: unset;
    border-radius: unset;
    margin-inline: unset;
    outline: solid 0.3125rem $darkRed;
}

// Menu link focus & hover style overrides
@mixin menu-link-focus-hover-narrow() {
    background-color: $menuExpandedSelectedBGColour;
    border-radius: unset;
    color: $menuExpandedSelectedColour;
    margin: unset;
    outline-color: transparent;
    padding-block: unset;
}

@mixin menu-link-focus-hover-wide() {
    background-color: inherit;
    border-bottom: 0.625rem solid $menuExpandedSelectedBGColour;
    color: currentColor;
    margin-left: 0;
    padding-inline-end: unset;
}

// Audio-tactile card section-specific colour overrides
@mixin card-section-colour-override($selector, $colour) {
    #{$selector} {
        .section__toggle {
            &:hover .section__title {
                border-color: var(--fl-buttonFgColor, $colour);
            }

            &--expanded .section__title {
                background: $colour;
            }
        }

        .section__content {
            border-color: $colour;
        }

        .section__icon {
            background-color: var(--fl-buttonFgColor, $colour);
        }

        .section__title {
            border-color: var(--fl-buttonBgColor, $colour);
        }

        .subsection__icon svg {
            --icon-arrowColour: var(--fl-buttonFgColor, #{$colour});
        }

        .card__title {
            background-color: var(--fl-buttonFgColor, $colour);
        }

        .card__details {
            border-color: $colour;
        }

        .card__icon svg {
            --icon-arrowColour: #{$colour};
        }
    }
}
