/** Typography **/
$family-sans-serif: "WorkSans", sans-serif;
$family-serif: "Literata", serif;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/** Colors **/
$darkRed: var(--fl-fgColor, #8d2a2d); // this colour has several uses
$darkGrey: var(--fl-bgColor, #e5eaeb);

$mainColour: var(--fl-fgColor, #000);
$rootLinkColour: var(--fl-linkColor, #0645ad);
$footerColour: var(--fl-fgColor, #fff);
$footerBGColour: var(--fl-bgColor, #153647);
$footerLinkColour: var(--fl-linkColor, var(--fl-fgColor, #cfca6f));
$rootContentBackgroundColour: var(--fl-bgColor, #e7f0f3);
$topicContentBackgroundColour: var(--fl-bgColor, #f9faf6);
$menuTitleColour: $darkRed;
$menuExpandedColour: var(--fl-fgColor, #000);
$menuExpandedBGColour: $darkGrey;
$menuExpandedSelectedColour: var(--fl-bgColor, #fff);
$menuExpandedSelectedBGColour: $darkRed;
$menuButtonStrokeColour: $darkRed;
$sectionBGColour: var(--fl-bgColor, #fff);
$sectionBorderColour: $darkRed;
$toolkitsBorderColour: var(--fl-bgColor, #0b719e);
$toolkitsHeadingColour: var(--fl-fgColor, #095a7d);
$topicLinksHeadingColour: $darkRed;
$sideContentLinkColour: var(--fl-fgColor, #2418a8);
$homeIntroColour: var(--fl-fgColor, #235064);
$homeIntroBGColour: var(--fl-bgColor, #fff);
$homeDetailsBGColour: var(--fl-bgColor, #f9faf5);
$homeGetInvolvedBGColour: $darkGrey;

/** Dimensions **/
$banner-height: 50px;
$max-content-width: 50rem;
$home-content-width: 69rem; // used by the Home page only, consider not using a variablea

// Responsive Breakpoints, shamelessy cribbed from Bootstrap.
// @see https://github.com/twbs/bootstrap/blob/master/scss/mixins/_breakpoints.scss

$breakpoints: (
    xs: 17.5rem,
    sm: 40rem,
    md: 48rem,
    lg: 75rem,
    xl: 85rem
);

// Used within SVGs to respond to UIO Contrast Theme changes
// TODO: Consider moving this to shame.scss, if such a file is created,
//       or perhaps into _vendors.scss since this rules are UIO-specific
footer,
header {
    --ildh-wordmark-colour: var(--fl-bgColor, #fff);
    --ildh-wordmark-text-colour: var(--fl-fgColor, #000);
}
