            <footer class="row docs-template-footer fl-inverted-color">
                <p>The Floe Inclusive Learning Design Handbook, part of the <a class="link-external" rel="nofollow" href="http://www.floeproject.org/">Floe Project</a>, is produced by the <a href="http://idrc.ocadu.ca/" rel="nofollow" class="link-external">Inclusive Design Research Centre</a> at <a href="http://www.ocadu.ca" rel="nofollow" class="link-external">OCAD University</a>.</p>
                <p>Floe is funded by a grant from <a href="http://www.hewlett.org/" rel="nofollow" class="link-external">The William and Flora Hewlett Foundation</a>.</p>
                <p>Licensed under <a href="http://creativecommons.org/licenses/by/2.5/ca/" rel="nofollow" class="link-external">Creative Commons Attribution 2.5 Canada</a>.</p>
            </footer>

            <script type="text/javascript">
                docsCore.init("./");
                jQuery( "#menu" ).menu({
                    position: {my: "right top", at: "right bottom"},
                    icons: {submenu:"ui-icon-blank"},
                    // Remove the anchors from the tabindex as they are triggered
                    // via the select event. (see below)
                    create: function (event, ui) {
                        jQuery("#menu .ui-menu-item a").attr("tabindex", -1);
                    },
                    // The jQuery menu doesn't seem to like it when the <a> are
                    // specified as the "item" and are nested under an <li>. There
                    // seems to be styling issues and occassionally an error thrown.
                    // The page transition work around below is used to maintian the semantic structure,
                    // while allowing the menu to behave as normal.
                    select: function( event, ui ) {
                        var location = ui.item.children("a").attr("href");
                        if (location) {
                            window.location.href = location;
                        }
                    }
                });
            </script>
