            <header class="ignore-for-TOC row fl-inverted-color">
                {% include 'partials/uio.njk' %}

                <div class="small-12 column docs-template-header">
                    {% include 'partials/logo.njk' %}

                    <!-- Show the menu for mobile screens -->
                    <nav class="right show-for-small-only docs-template-nav-mobile">
                        <ul id="menu">
                            <li class="docs-template-dropDown-header"><span class="docs-template-nav-mobile-icon"></span>
                                <ul class="docs-template-dropDown">
                                {% include 'partials/menu.njk' %}
                                </ul>
                            </li>
                        </ul>                    
                    </nav>
                </div>

                <div class="docs-template-header">
                    <nav class="small-12 column show-for-medium-up">
                        <ul class="inline-list right">
                        {% include 'partials/menu.njk' %}
                        </ul>
                    </nav>
                </div>
            </header>
