                    <a class="docs-template-logo" href="/" title="Home: Floe Inclusive Learning Design Handbook">
                        <span class="show-for-sr">
                            <h1>Floe Project: Inclusive Learning Design Handbook</h1>
                        </span>

                        <span aria-hidden="true">
                            <h1>
                                floe
                                <span class="docs-template-tagline">The Inclusive Learning<br/>Design Handbook</span>
                            </h1>
                        </span>
                    </a>
